<template name="footer">
<div id="footer">  
              <ul class="footerTop">
                  <li class="icons">
                      <a href="http://twitter.com/PBA_Health" class="twitter" target="_blank"></a>
                        <a href="http://www.facebook.com/PBAHealth" class="facebook" target="_blank"></a>
                    </li>
                    <li class="linksLeft">
                      <a href="pba-careers.aspx">Careers</a>
                        <a href="pba-contact-us.aspx">Contact</a>
                        <a href="pba-events.aspx">Events</a>
                        <a href="pba-sign-up.aspx">Sign Up</a>            
                    </li>
                    <li class="addressRight">
                      6300 Enterprise Road<br />
                        Kansas City, Missouri 64120<br />
                        P 816.245.5700<br />
                        F 816.245.5702<br />
                        TF 800.333.8097             
                    </li>
                </ul>
              <ul class="navigation">
                    <li><a id="ctl00_aProfitGuardFooter" class="active" href="pba-profitguard.aspx">ProfitGuard</a></li>
                    <li><a id="ctl00_aScriptCardFooter" href="pba-scriptcard.aspx">ScriptCard</a></li>
                    <li><a id="ctl00_aEnsurePayFooter" href="pba-ensurepay-electronic-pharmacy-claims-reconciliation.aspx">EnsurePay</a></li>
                    <li><a id="ctl00_aTriNetFooter" href="pba-trinet-third-party-network.aspx">TriNet</a></li>
                    <li><a id="ctl00_aMarketingFooter" href="pba-marketing.aspx">Marketing</a></li>
                    <li><a id="ctl00_aDirectoryFooter" href="pba-directory.aspx">Directory</a></li>
                </ul>       
            </div>

</template>